Repository uclouvain/osis, pull requests merged in 2018-10, with the labels that each got.

#4324 OSIS-2006 nav-tabs for achievement modals.
  base/templates/education_group/blocks/form/update_achievement_inner.html
Labels: education_group

#4318 OSIS-1950 add consultation of certificate aims for an EducationGroup
  base/locale/en/LC_MESSAGES/django.po
  base/locale/fr_BE/LC_MESSAGES/django.po
  base/models/certificate_aim.py
  base/templates/education_group/tab_diplomas.html
  base/tests/factories/certificate_aim.py
  base/tests/factories/education_group_certificate_aim.py
  base/tests/views/test_education_group.py
  base/views/education_groups/detail.py
Labels: education_group

#4329 OSIS-2007 Bug: invalid action in achievements
  base/static/js/modal_form_submit.js
  base/templates/education_group/blocks/form/achievement_action_bar.html
Labels: education_group

#4335 OSIS-2014 Binding textareas with CKEDITOR during an AJAX request
  base/static/js/modal_form_submit.js
  base/templates/blocks/modal/modal_ajax.html
  base/templates/education_group/blocks/form/update_achievement_inner.html
Labels: education_group

#4344 [QA] Fix flag which englobe two features
  base/templates/learning_unit/summary_list.html
Labels: patch

#4345 [DEV] Fix flag html
  base/templates/learning_unit/summary_list.html
Labels: patch

#4383 OSIS-2067 Rename celery task and add constraint on education group
  base/tasks.py
  base/views/offer.py
Labels: education_group

#4384 OSIS-2091 Add 'postpone' to the action button on education group year…
  base/business/education_groups/perms.py
  base/templates/education_group/blocks/dropdown/identification_actions_bar.html
  base/templatetags/education_group.py
  base/tests/views/group_element_years/test_postpone.py
  base/views/education_groups/group_element_year/update.py
  base/views/education_groups/urls.py
Labels: education_group

#4402 Osis 2000 Deletion modal for coorganization
  base/static/js/modal_form_submit.js
  base/templates/education_group/blocks/modal/modal_organization_confirm_delete.html
  base/templates/education_group/blocks/modal/modal_organization_confirm_delete_inner.html
  base/templates/education_group/identification_training_details.html
  base/templates/layout.html
  base/tests/views/education_groups/test_organization.py
  base/views/education_groups/coorganization.py
  base/views/education_groups/urls.py
  base/views/mixins.py
Labels: education_group

#4406 OSIS-1991 Default value for the country list
  base/forms/education_group/organization.py
Labels: education_group

#4410 OSIS-2096 Add translations for postponement
  base/business/group_element_years/postponement.py
  base/locale/en/LC_MESSAGES/django.po
  base/locale/fr_BE/LC_MESSAGES/django.po
  base/templates/education_group/blocks/dropdown/identification_actions_bar.html
  base/tests/business/education_groups/test_postponement.py
Labels: education_group

#4429 OSIS-2151 Adapt postpone algo to external learning unit
  base/business/learning_units/edition.py
  base/business/learning_units/perms.py
  base/migrations/0379_auto_20181029_1125.py
  base/models/external_learning_unit_year.py
  base/models/person.py
  base/tests/business/test_learning_unit_edition.py
  base/tests/views/test_learning_unit.py
  base/tests/views/test_learning_unit_edition.py
  base/tests/views/test_learning_unit_proposal.py
  base/urls.py
  base/views/learning_unit.py
  base/views/learning_units/detail.py
  base/views/learning_units/update.py
Labels: learning_unit

#4437 OSIS-2127 Permission for external learning unit through requesting entity
  base/models/person.py
  base/tests/models/test_learning_unit_year.py
  base/tests/models/test_person.py
Labels: learning_unit

#4440 Osis 2126 Adapt creation view for external learning unit
  base/fixtures/waffle_flags.json
  base/forms/learning_unit/external_learning_unit.py
  base/forms/learning_unit/learning_unit_create.py
  base/templates/learning_unit/blocks/create_form_learning_unit_external.html
  base/views/learning_units/external/create.py
Labels: learning_unit

#4442 OSIS-2128 New perm to create external learning unit
  base/fixtures/groups.json
  base/tests/views/learning_units/external/test_create.py
  base/views/learning_units/external/create.py
Labels: learning_unit

#4443 OSIS-2129 Replace normalize by floatformat
  base/templates/education_group/tab_content.html
  base/templates/learning_unit/blocks/additional_requirement_entity_volumes.html
  base/templates/learning_unit/components.html
  base/templates/learning_unit/components_identification.html
  base/templates/learning_unit/identification.html
Labels: learning_unit
