Repository uclouvain/osis, pull requests merged in 2018-12, with the labels that each got.

#4673 #OSIS-2384 Création des nouveaux champs pour les co-diplomations, l'A…
  base/locale/en/LC_MESSAGES/django.po
  base/locale/fr_BE/LC_MESSAGES/django.po
  base/migrations/0410_auto_20181207_1523.py
  base/models/education_group_year.py
Labels: catalogue-formation

#4735 OSIS-2358 Hide version panel if empty
  base/templates/blocks/panel/reversion.html
Labels: education_group, learning_unit

#4732 OSIS-2373 Optimizing search forms
  base/business/learning_unit.py
  base/business/learning_unit_xls.py
  base/business/learning_unit_year_with_context.py
  base/business/learning_units/perms.py
  base/business/learning_units/xls_comparison.py
  base/business/proposal_xls.py
  base/forms/learning_unit/search_form.py
  base/forms/learning_unit_pedagogy.py
  base/forms/proposal/learning_unit_proposal.py
  base/forms/search/search_form.py
  base/forms/utils/uppercase.py
  base/models/external_learning_unit_year.py
  base/models/learning_component_year.py
  base/models/learning_container_year.py
  base/models/learning_unit_year.py
  base/models/proposal_learning_unit.py
  base/static/js/select_ajax_filtering.js
  base/templates/learning_unit/blocks/dropdown/proposal_xls_actions_bar.html
  base/templates/learning_unit/by_activity.html
  base/templates/learning_unit/by_external.html
  base/templates/learning_unit/by_proposal.html
  base/templates/learning_unit/components.html
  base/templates/learning_unit/summary_list.html
  base/templates/learning_units.html
  base/tests/business/test_learning_unit_xls.py
  base/tests/forms/learning_unit/test_search_form.py
  base/tests/forms/test_external_learning_unit.py
  base/tests/forms/test_learning_units.py
  base/tests/models/test_learning_unit_year.py
  base/tests/models/test_proposal_learning_unit.py
  base/tests/views/test_learning_unit.py
  base/tests/views/test_learning_unit_pedagogy.py
  base/tests/views/test_learning_unit_proposal.py
  base/views/learning_unit.py
  base/views/learning_units/educational_information.py
  base/views/learning_units/pedagogy/update.py
  base/views/learning_units/search.py
  cms/models/translated_text.py
  reference/models/language.py
Labels: learning_unit

#4736 OSIS-2050 Missing translations for categories
  base/business/education_groups/perms.py
  base/forms/education_group/common.py
  base/forms/education_group/group.py
  base/forms/education_group/mini_training.py
  base/forms/education_group/training.py
  base/forms/education_groups.py
  base/models/education_group_type.py
  base/models/enums/education_group_categories.py
  base/tests/templatetags/test_education_group.py
  base/views/education_groups/learning_unit/detail.py
Labels: education_group

#4741 OSIS-2373 Two way to display entity acronym
  assessments/tests/business/test_scores_encodings_deadline.py
  base/business/entity.py
  base/business/learning_unit_xls.py
  base/forms/learning_unit/search_form.py
  base/models/entity_calendar.py
  base/tests/views/group_element_years/test_postpone.py
  base/views/learning_units/educational_information.py
Labels: learning_unit
