Repository uclouvain/osis, pull requests merged in 2018-09, with the labels that each got.

#4196 [MERGE TO QA] Fix entity none exception in template + move manager in abstract clas…
  base/models/learning_unit_year.py
  base/tests/models/test_learning_unit_year.py
Labels: patch

#4198 Osis 1800
  base/models/learning_unit_year.py
  base/tests/models/test_learning_unit_year.py
Labels: patch

#4243 OSIS-1842 Add filter on enrollment_campus
  base/forms/education_group/common.py
Labels: education_group

#4250 OSIS-1835 Perms N+1 for education_group_year
  base/business/education_groups/perms.py
  base/forms/education_group/common.py
  base/locale/en/LC_MESSAGES/django.po
  base/locale/fr_BE/LC_MESSAGES/django.po
  base/models/academic_calendar.py
  base/models/academic_year.py
  base/tests/business/education_groups/test_perms.py
  base/tests/models/test_academic_calendar.py
  base/tests/templatetags/test_education_group.py
  base/tests/views/education_groups/test_delete.py
  base/views/academic_calendar.py
Labels: education_group

#4255 OSIS-1835 add migration file and fix education_group null
  base/business/education_groups/perms.py
  base/migrations/0350_auto_20180914_0938.py
  base/tests/factories/academic_calendar.py
  base/tests/views/education_groups/test_search.py
Labels: education_group

#4260 Osis 1841 English_activities
  base/business/education_groups/group_element_year_tree.py
  base/forms/education_group/training.py
  base/locale/en/LC_MESSAGES/django.po
  base/locale/fr_BE/LC_MESSAGES/django.po
  base/models/education_group_year.py
  base/templates/blocks/dl/dl_with_parent.html
  base/templates/education_group/blocks/form/training.html
  base/templates/education_group/blocks/informations.html
  base/templates/education_group/blocks/remarks.html
  base/templates/education_group/identification_group_details.html
  base/templates/education_group/identification_mini_training_details.html
  base/templates/education_group/identification_training_details.html
  base/templates/education_group/tab_identification.html
  base/templatetags/education_group.py
  base/tests/templatetags/test_education_group.py
Labels: education_group

#4280 OSIS-1920 Panels for additional information and certificate
  base/locale/en/LC_MESSAGES/django.po
  base/locale/fr_BE/LC_MESSAGES/django.po
  base/templates/blocks/panel/panel_cms_collapse.html
  base/templates/education_group/blocks/panel/panel_achievements.html
  base/templates/education_group/blocks/panel/panel_generic_fr_en.html
  base/templates/education_group/blocks/panel_achievements.html
  base/templates/education_group/tab_skills_achievements.html
Labels: WIP, education_group

#4281 Osis 1906 Select default academic year in form
  base/forms/academic_calendar.py
Labels: general

#4294 Osis 1877 Edit Education_group_achievement
  base/business/education_groups/perms.py
  base/forms/education_group/achievement.py
  base/static/js/modal_form_submit.js
  base/templates/blocks/modal/modal_ajax.html
  base/templates/blocks/panel/panel_cms_collapse.html
  base/templates/education_group/blocks/form/update_achievement.html
  base/templates/education_group/blocks/form/update_achievement_inner.html
  base/templates/education_group/blocks/panel/panel_achievements.html
  base/tests/views/education_groups/achievement/__init__.py
  base/tests/views/education_groups/achievement/test_create.py
  base/tests/views/education_groups/achievement/test_detail.py
  base/tests/views/education_groups/achievement/test_update.py
  base/tests/views/education_groups/test_detail.py
  base/views/education_groups/achievement/__init__.py
  base/views/education_groups/achievement/common.py
  base/views/education_groups/achievement/create.py
  base/views/education_groups/achievement/detail.py
  base/views/education_groups/achievement/update.py
  base/views/education_groups/achievement/urls.py
  base/views/education_groups/detail.py
  base/views/education_groups/urls.py
Labels: education_group

#4299 Osis 1893 Permission management for AA
  base/business/education_groups/perms.py
  base/fixtures/groups.json
  base/templates/education_group/blocks/form/achievement_action_bar.html
  base/templates/education_group/blocks/panel/panel_achievements.html
  base/templatetags/education_group.py
  base/templatetags/format.py
  base/tests/views/education_groups/achievement/test_create.py
  base/tests/views/education_groups/achievement/test_update.py
  base/views/academic_calendar.py
  base/views/education_groups/achievement/common.py
  base/views/education_groups/achievement/create.py
  base/views/education_groups/achievement/update.py
  base/views/education_groups/create.py
  base/views/education_groups/delete.py
  base/views/education_groups/group_element_year/read.py
  base/views/education_groups/group_element_year/update.py
  base/views/education_groups/learning_unit/update.py
  base/views/mixins.py
Labels: education_group

#4301 Correction bug multiple sur les UEs
  base/forms/learning_unit/learning_unit_create_2.py
  base/forms/learning_unit/learning_unit_postponement.py
  base/tests/forms/test_learning_unit_create_2.py
  base/views/learning_units/search.py
Labels: WIP
