Repository uclouvain/osis, pull requests merged in 2018-11, with the labels that each got.

#4454 Remove old modals
  base/static/js/modal_form_submit.js
  base/templates/blocks/button/button_template.html
  base/templates/blocks/modal/modal_ajax.html
  base/templates/education_group/blocks/content_actions.html
  base/templates/education_group/blocks/coorganization.html
  base/templates/education_group/blocks/dropdown/identification_actions_bar.html
  base/templates/education_group/blocks/form/achievement_action_bar.html
  base/templates/education_group/blocks/panel/panel_achievements.html
  base/templates/education_group/layout_detail.html
  base/templates/layout.html
  base/templatetags/education_group.py
  base/tests/templatetags/test_education_group.py
Labels: clean, education_group

#4474 OSIS-59 Fix start_year bug for externals
  base/forms/learning_unit/external_learning_unit.py
  base/tests/forms/test_external_learning_unit.py
  base/tests/forms/test_learning_unit_postponement.py
Labels: learning_unit

#4478 OSIS-1025 Initial values for countries and cities
  base/forms/learning_unit/external_learning_unit.py
  base/forms/learning_unit/learning_unit_create.py
  base/models/organization_address.py
  base/templates/learning_unit/blocks/form/form_external.html
  base/tests/forms/test_external_learning_unit.py
  base/tests/views/learning_units/external/test_update.py
Labels: learning_unit

#4484 OSIS-2200 Include only mini trainings to postpone
  base/business/education_groups/automatic_postponement.py
  base/models/enums/education_group_types.py
  base/tests/business/education_groups/test_automatic_postponement.py
Labels: education_group

#4486 OSIS-2072 Take the previous academic year to compute the postponement.
  base/business/education_groups/perms.py
  base/models/education_group_year.py
  base/tests/views/group_element_years/test_postpone.py
  base/views/education_groups/update.py
Labels: education_group

#4446 Update contributing section [Translation]
  doc/technical-manual.adoc
Labels: contributing

#4495 Osis 2072 Change button title and fix translations
  base/business/group_element_years/postponement.py
  base/locale/en/LC_MESSAGES/django.po
  base/locale/fr_BE/LC_MESSAGES/django.po
  base/models/education_group_year.py
  base/templates/education_group/blocks/dropdown/identification_actions_bar.html
  base/templates/education_group/group_element_year/confirm_postpone_content_inner.html
  base/templatetags/education_group.py
  base/tests/views/group_element_years/test_postpone.py
  base/views/education_groups/update.py
Labels: education_group

#4505 OSIS-2223 Use "groupement" words for education groups
  base/locale/fr_BE/LC_MESSAGES/django.po
Labels: education_group

#4504 fixed access rights to academix actors views
  assessments/tests/views/test_scores_responsible.py
  assessments/views/pgm_manager_administration.py
  assessments/views/scores_responsible.py
  attribution/tests/views/test_summary_responsible.py
  attribution/views/summary_responsible.py
  base/models/entity_manager.py
  base/views/institution.py
Labels: patch

#4549 [QA] Fix Recompute_portal error
  attribution/tests/views/test_attribution.py
  attribution/tests/views/test_tutor_application.py
  attribution/views/attribution.py
  attribution/views/tutor_application.py
Labels: patch

#4574 Osis 2214 Logs for learning units
  base/migrations/0399_learningunityear_learning_component_years.py
  base/models/external_learning_unit_year.py
  base/models/learning_unit_year.py
  base/templates/learning_unit/identification.html
  base/tests/business/test_learning_unit_edition.py
  base/tests/forms/test_learning_unit_create_2.py
  base/tests/views/test_learning_unit.py
  base/tests/views/test_learning_unit_edition.py
  base/tests/views/test_learning_unit_proposal.py
  base/urls.py
  base/views/education_groups/detail.py
  base/views/learning_units/detail.py
  base/views/learning_units/update.py
Labels: learning_unit

#4583 Rewrite dl_with_parent
  base/models/education_group_type.py
  base/models/utils/utils.py
  base/templates/education_group/blocks/informations.html
  base/templates/education_group/blocks/remarks.html
  base/templates/education_group/identification_group_details.html
  base/templates/education_group/identification_mini_training_details.html
  base/templates/education_group/identification_training_details.html
  base/templates/education_group/search.html
  base/templatetags/education_group.py
  base/templatetags/learning_unit.py
  base/tests/templatetags/test_education_group.py
  base/views/education_groups/search.py
Labels: Translation

#4595 OSIS-2239 add flag on learning unit achievement
  base/business/learning_units/perms.py
  base/fixtures/groups.json
  base/fixtures/waffle_flags.json
  base/tests/views/test_learning_achievement.py
Labels: patch

#4608 Osis 2255 move simplifiedvolume form to its own file and change prefix
  base/forms/learning_unit/edition_volume.py
  base/forms/learning_unit/learning_unit_create.py
  base/forms/learning_unit/learning_unit_create_2.py
  base/forms/learning_unit/learning_unit_postponement.py
  base/models/enums/component_type.py
  base/templates/learning_unit/blocks/form/simplified_volumes_management_form.html
  base/tests/forms/learning_unit/test_simplifiedVolumeForm.py
  base/tests/forms/test_learning_unit_create_2.py
  base/tests/forms/test_learning_unit_partim.py
  base/tests/forms/test_learning_unit_postponement.py
  base/tests/forms/test_learning_unit_proposal.py
  base/tests/views/learning_units/proposals/test_creation.py
  base/tests/views/test_learning_unit.py
  base/tests/views/test_learning_unit_edition.py
  base/tests/views/test_learning_unit_proposal.py
Labels: learning_unit

#4619 OSIS-2255 Create a global protection for formsets.
  base/forms/learning_unit/learning_unit_create_2.py
  base/tests/forms/test_learning_unit_create_2.py
Labels: learning_unit
