Repository uclouvain/osis, pull requests merged in 2019-04, with the labels that each got.

#5216 OSIS-2792 Hide start_year and duration when the luy is for faculties or a partim.
  attribution/models/attribution_new.py
  attribution/models/enums/function.py
  base/business/learning_units/xls_comparison.py
  base/forms/learning_unit/attribution_charge_repartition.py
  base/forms/learning_unit/search_form.py
  base/locale/en/LC_MESSAGES/django.po
  base/locale/fr_BE/LC_MESSAGES/django.po
  base/models/enums/learning_container_year_types.py
  base/models/learning_container_year.py
  base/models/learning_unit_year.py
  base/templates/learning_unit/attribution_inner.html
  base/templates/learning_unit/attributions.html
  base/tests/views/learning_units/test_attribution.py
  base/tests/views/test_learning_unit.py
  base/views/learning_units/attribution.py
  base/views/learning_units/charge_repartition.py
  base/views/learning_units/search.py
Labels: learning_unit

#5227 Osis 2793 Adapt Attribution frontend for partims
  base/locale/en/LC_MESSAGES/django.po
  base/locale/fr_BE/LC_MESSAGES/django.po
  base/templates/learning_unit/add_charge_repartition_inner.html
  base/templates/learning_unit/select_attribution.html
  base/views/learning_unit.py
Labels: learning_unit

#5233 OSIS-2396 Add Internship to the list of for_faculty
  base/models/enums/learning_container_year_types.py
Labels: learning_unit

#5236 OSIS-2397 Display vol 1 & vol 2 for partims
  base/forms/learning_unit/attribution_charge_repartition.py
  base/templates/learning_unit/add_charge_repartition_inner.html
  base/templates/learning_unit/select_attribution.html
  base/views/learning_units/attribution.py
  base/views/learning_units/charge_repartition.py
Labels: learning_unit

#5244 OSIS-2789 Refactoring of pgm_manager & is_main for program_manager
  assessments/templates/admin/manager_add_inner.html
  assessments/templates/admin/modal/add_manager.html
  assessments/templates/admin/modal/remove_manager_confirm.html
  assessments/templates/admin/pgm_manager.html
  assessments/templates/admin/programmanager_confirm_delete_inner.html
  assessments/templates/admin/programmanager_list.html
  assessments/tests/views/test_pgm_manager_administration.py
  assessments/urls.py
  assessments/views/pgm_manager_administration.py
  base/locale/en/LC_MESSAGES/django.po
  base/locale/fr_BE/LC_MESSAGES/django.po
  base/migrations/0442_programmanager_is_main.py
  base/models/enums/organization_type.py
  base/models/offer_year.py
  base/models/program_manager.py
  base/templates/education_group/tab_administrative_data.html
  base/templates/offer/tab_program_managers.html
  base/tests/models/test_offer_year.py
  base/tests/models/test_program_manager.py
  base/tests/views/education_groups/test_create.py
  base/views/education_groups/detail.py
  base/views/organization.py
Labels: education_group

#5221 OSIS-2794 to forbid to attach an element to one of another academic year
  base/business/group_element_years/postponement.py
  base/business/utils/model.py
  base/locale/en/LC_MESSAGES/django.po
  base/locale/fr_BE/LC_MESSAGES/django.po
  base/models/group_element_year.py
  base/tests/business/education_groups/test_build_tree.py
  base/tests/business/education_groups/test_postponement.py
  base/tests/business/group_element_years/test_attach.py
  base/tests/business/group_element_years/test_detach.py
  base/tests/business/group_element_years/test_management.py
  base/tests/business/test_education_group.py
  base/tests/forms/education_group/test_groupElementYearForm.py
  base/tests/models/test_education_group_year.py
  base/tests/models/test_group_element_year.py
  base/tests/templatetags/test_build_pdf_tree.py
  base/tests/views/education_groups/group_element_year/test_read.py
  base/tests/views/education_groups/learning_unit/test_detail.py
  base/tests/views/education_groups/test_delete.py
  base/tests/views/education_groups/test_detail.py
  base/tests/views/education_groups/test_select_education_group_type.py
  base/tests/views/education_groups/test_update.py
  base/tests/views/group_element_years/test_detach.py
  base/tests/views/group_element_years/test_edit.py
  base/tests/views/group_element_years/test_postpone.py
  base/tests/views/group_element_years/test_read.py
  base/tests/views/group_element_years/test_up_down.py
  base/tests/views/learning_units/test_attribution.py
  base/tests/views/test_education_group.py
Labels: education_group

#5277 OSIS-2865 rename "P.C." to "Classes" and translations
  base/forms/learning_unit/edition_volume.py
  base/locale/en/LC_MESSAGES/django.po
  base/locale/fr_BE/LC_MESSAGES/django.po
Labels: learning_unit

#5280 OSIS-2866 modification de SimplifiedForm
  base/forms/learning_unit/edition_volume.py
  base/templates/learning_unit/blocks/form/simplified_volumes_management_form.html
Labels: learning_unit

#5292 OSIS-2866 update CSS
  base/static/css/custom.css
  base/templates/learning_unit/blocks/form/simplified_volumes_management_form.html
Labels: learning_unit

#5295 OSIS-2866 add error message when cannot add classes
  base/forms/learning_unit/edition_volume.py
  base/locale/en/LC_MESSAGES/django.po
  base/locale/fr_BE/LC_MESSAGES/django.po
  base/tests/forms/learning_unit/test_simplifiedVolumeForm.py
Labels: learning_unit

#5300 OSIS-2866 remove condition to have a consistent behavior between the …
  base/forms/learning_unit/edition_volume.py
  base/tests/forms/learning_unit/test_simplifiedVolumeForm.py
Labels: learning_unit

#5301 OSIS-2862 Bug dans l'encodage des volumes des UEs
  base/forms/learning_unit/edition_volume.py
Labels: learning_unit

#5310 OSIS-2844 update html
  base/templates/learning_unit/blocks/form/simplified_volumes_management_form.html
Labels: learning_unit

#5316 OSIS-2844 update html
  base/templates/learning_unit/blocks/form/simplified_volumes_management_form.html
Labels: learning_unit

#5347 OSIS-2916 modify PP and PM in volume managements
  base/forms/learning_unit/edition_volume.py
Labels: learning_unit

#5346 OSIS-2915 modify operator in title line for volume management
  base/forms/learning_unit/edition_volume.py
  base/static/css/custom.css
Labels: learning_unit

#5356 OSIS-2918 search check in "with_entity subordinated" by default every…
  base/forms/education_groups.py
  base/views/learning_units/educational_information.py
  base/views/learning_units/search.py
Labels: education_group, learning_unit

#5360 fixed translation when re-encoding justifications
  assessments/templates/online_double_encoding_validation.html
Labels: patch

#5355 OSIS-2917 update label
  base/forms/education_groups.py
  base/forms/learning_unit/search_form.py
  base/locale/en/LC_MESSAGES/django.po
  base/locale/fr_BE/LC_MESSAGES/django.po
Labels: education_group, learning_unit
