Repository uclouvain/osis, pull requests merged in 2019-06, with the labels that each got.

#5546 OSIS-3052 Fixed bug when edit attributs to DEV
  base/business/education_groups/group_element_year_tree.py
  base/business/group_element_years/attach.py
  base/forms/education_group/group_element_year.py
Labels: patch

#5551 PATCH-DEV_OSIS-2457-2952 update translation
  base/locale/en/LC_MESSAGES/django.po
  base/locale/fr_BE/LC_MESSAGES/django.po
  base/templates/blocks/span/span_mod_status.html
Labels: Translation, learning_unit

#5549 PATCH-QA_OSIS-2457-2952 update translation
  base/locale/en/LC_MESSAGES/django.po
  base/locale/fr_BE/LC_MESSAGES/django.po
  base/templates/blocks/span/span_mod_status.html
Labels: Translation, learning_unit, patch

#5550 [PATCH To QA] OSIS-2881 Correct template
  base/templates/learning_unit/blocks/panel/educational_informations.html
Labels: patch

#5564 [QA] OSIS-3051 Display label
  base/templatetags/education_group.py
Labels: patch

#5574 OSIS-2979 debug after test in dev for report template
  base/migrations/0457_message_template_egys_automatic_postponement_update.py
  base/utils/send_mail.py
Labels: education_group

#5558 OSIS-3032 ajout validation si plusieurs attendus de type 2
  base/forms/education_group/training.py
  base/locale/en/LC_MESSAGES/django.po
  base/locale/fr_BE/LC_MESSAGES/django.po
  base/templates/education_group/blocks/form/training_tab_diploma.html
  base/tests/forms/education_group/test_training.py
Labels: education_group

#5593 OSIS-3080 debug red dot when validation error in form for training
  base/templates/education_group/blocks/form/training.html
Labels: education_group

#5596 OSIS-3076 debug cronjob for automatic postponement (exclude common)
  base/business/education_groups/automatic_postponement.py
Labels: education_group

#5598 OSIS-3076 add support for postponement of common
  base/business/education_groups/automatic_postponement.py
  base/business/education_groups/create.py
Labels: education_group

#5605 OSIS-2975 debug tab_to_show for modify
  base/templates/education_group/blocks/form/training_tab_identification.html
Labels: education_group

#5615 OSIS-3022 Bug lors d'attacher une OF dans une OF
  base/business/group_element_years/management.py
  base/tests/forms/education_group/test_groupElementYearForm.py
Labels: WIP

#5633 OSIS-3085 Add roots of each formation in formations tab
  base/locale/en/LC_MESSAGES/django.po
  base/locale/fr_BE/LC_MESSAGES/django.po
  base/models/group_element_year.py
  base/templates/education_group/blocks/row_table_utilizations.html
  base/templates/learning_unit/formations.html
  base/tests/models/test_group_element_year.py
  base/tests/views/learning_units/test_formations_tab.py
  base/views/learning_unit.py
Labels: learning_unit

#5645 OSIS-3096 keep tree open after restart of browser
  base/static/js/education_group/education_group_tree.js
Labels: education_group

#5644 OSIS-3097 Pomme (Ctrl) + click ne fonctionne pas dans l'arbre
  base/static/js/education_group/education_group_tree.js
Labels: education_group

#5659 OSIS-3097 add support for Cmd+click on mac
  base/static/js/education_group/education_group_tree.js
Labels: education_group

#5663 OSIS-3097 debug selection
  base/static/js/education_group/education_group_tree.js
Labels: education_group

#5692 Osis 2840 Bug check options when attaching finality
  base/business/group_element_years/attach.py
  base/tests/business/group_element_years/test_attach.py
Labels: WIP

#5676 OSIS-3011 fix for edition of volumes
  base/business/education_groups/volume_strategy.py
  base/forms/learning_unit/edition_volume.py
  base/locale/en/LC_MESSAGES/django.po
  base/locale/fr_BE/LC_MESSAGES/django.po
  base/tests/forms/learning_unit/test_simplifiedVolumeForm.py
  base/tests/forms/test_edition_form.py
  base/tests/forms/test_external_learning_unit.py
  base/tests/forms/test_learning_unit_partim.py
  base/tests/forms/test_learning_unit_postponement.py
  base/tests/forms/test_learning_unit_proposal.py
  base/tests/views/learning_units/proposals/test_creation.py
  base/tests/views/test_learning_unit_edition.py
  base/tests/views/test_learning_unit_proposal.py
Labels: learning_unit

#5704 OSIS-3134 debug click in tree by remove ctrl+click
  base/static/js/education_group/education_group_tree.js
Labels: education_group

#5712 OSIS-3134 debug on select node
  base/static/js/education_group/education_group_tree.js
Labels: education_group

#5729 OSIS-3120 "Entité resp. cahier des charges", la liste qui apparait ne…
  base/forms/learning_unit/learning_unit_create.py
  base/models/entity_version.py
  base/models/organization.py
  base/tests/views/test_learning_unit.py
  base/views/learning_units/update.py
Labels: learning_unit
