Repository uclouvain/osis, pull requests merged in 2019-02, with the labels that each got.

#4790 add new section rule about models (foreign key to user)
  .github/CONTRIBUTING.md
Labels: contributing

#4794 Add section : PR for submodules reference updates
  .github/CONTRIBUTING.md
Labels: contributing

#4527 Add 'coding style' section rule
  .github/CONTRIBUTING.md
Labels: contributing

#4919 Osis 2538 Activate postponement from N to N + 6
  base/business/education_groups/automatic_postponement.py
  base/business/learning_units/automatic_postponement.py
  base/business/utils/postponement.py
  base/models/education_group.py
  base/models/education_group_year.py
  base/models/learning_unit.py
  base/models/learning_unit_year.py
  base/tests/business/education_groups/test_automatic_postponement.py
  base/tests/business/learning_units/test_automatic_postponement.py
  base/tests/models/test_education_group.py
  base/tests/models/test_learning_unit.py
Labels: education_group, learning_unit

#4923 OSIS-2538 Avoid a crash with an empty partial acronym.
  base/business/education_groups/create.py
  base/tests/business/education_groups/test_create.py
Labels: education_group

#4920 Remove deprecated (layout.render)
  assessments/views/pgm_manager_administration.py
  assessments/views/score_encoding.py
  assessments/views/scores_responsible.py
  assessments/views/upload_xls_utils.py
  attribution/views/manage_my_courses.py
  attribution/views/summary_responsible.py
  base/templates/offer_year_calendar.html
  base/tests/models/test_person.py
  base/tests/views/education_groups/learning_unit/test_update.py
  base/tests/views/test_education_group.py
  base/tests/views/test_learning_achievement.py
  base/tests/views/test_learning_unit.py
  base/tests/views/test_learning_unit_edition.py
  base/tests/views/test_learning_unit_proposal.py
  base/tests/views/test_my_osis.py
  base/tests/views/test_offer.py
  base/tests/views/test_organization.py
  base/tests/views/test_student.py
  base/tests/views/test_teaching_material.py
  base/views/common.py
  base/views/education_group.py
  base/views/education_groups/create.py
  base/views/education_groups/update.py
  base/views/entity.py
  base/views/institution.py
  base/views/learning_achievement.py
  base/views/learning_unit.py
  base/views/learning_units/pedagogy/read.py
  base/views/learning_units/pedagogy/update.py
  base/views/learning_units/proposal/create.py
  base/views/learning_units/proposal/update.py
  base/views/learning_units/search.py
  base/views/learning_units/update.py
  base/views/my_osis.py
  base/views/notifications.py
  base/views/offer.py
  base/views/organization.py
  base/views/person.py
  base/views/search.py
  base/views/student.py
  base/views/teaching_material.py
Labels: refactoring

#4965 Osis 2318 Copy the prerequisite too
  base/business/education_groups/postponement.py
  base/business/group_element_years/postponement.py
  base/tests/business/education_groups/test_postponement.py
Labels: education_group

#4973 [QA] OSIS-2625 Refactor show_conditions in order to be more explicit
  base/models/enums/education_group_types.py
  base/views/education_groups/detail.py
Labels: WIP

#4909 Add note for ugettext in OSIS
  doc/technical-manual.adoc
Labels: contributing

#4906 add 'PDF' section in contributing
  .github/CONTRIBUTING.md
Labels: contributing

#4983 Osis 2318 Fix bug: grandchildren were not connected during the copy N-N+1
  base/business/education_groups/create.py
  base/business/group_element_years/postponement.py
  base/models/education_group_year.py
  base/templates/education_group/layout_detail.html
  base/tests/business/education_groups/test_postponement.py
Labels: education_group

#4984 OSIS-2619 show decree, code and name of the domain in the identification
  base/forms/education_group/training.py
  reference/models/domain.py
  reference/tests/models/__init__.py
  reference/tests/models/test_domain.py
Labels: catalogue-formation

#5013 [QA] Correct webservice URL
  webservices/urls.py
Labels: patch

#5027 OSIS-2604 Bug de traduction dans OF dans le menu Actions
  base/business/education_groups/perms.py
  base/templatetags/education_group.py
  base/tests/business/education_groups/test_perms.py
  base/tests/templatetags/test_education_group.py
Labels: education_group

#5026 Osis 2637 Attach the current children for a mandatory group during the copy.
  base/business/group_element_years/postponement.py
  base/tests/business/education_groups/test_postponement.py
  base/views/education_groups/update.py
Labels: education_group

#5028 OSIS-2605 Bug pour l'affichage de l'intitulé des UE dans l'onglet "Co…
  base/templates/education_group/blocks/content_default_table.html
  base/views/education_groups/detail.py
Labels: education_group

#5033 OSIS-2604 Add pgettext for category translations.
  base/business/education_groups/perms.py
  base/locale/en/LC_MESSAGES/django.po
  base/locale/fr_BE/LC_MESSAGES/django.po
  base/tests/templatetags/test_education_group.py
Labels: education_group
