Repository uclouvain/osis, pull requests merged in 2019-01, with the labels that each got.

#4761 OSIS-2395 fix translation bug in attribution page
  base/locale/en/LC_MESSAGES/django.po
  base/locale/fr_BE/LC_MESSAGES/django.po
  base/tests/views/test_learning_unit.py
  base/views/learning_unit.py
Labels: learning_unit

#4762 Template refactoring
  backoffice/settings/local.py
  base/static/css/osis.css
  base/static/js/education_group/tbl_coorganization.js
  base/templates/education_group/identification_training_details.html
  base/templates/education_group/layout_detail.html
  base/templates/education_group/tab_administrative_data.html
  base/templates/education_group/tab_admission_conditions.html
  base/templates/education_group/tab_content.html
  base/templates/education_group/tab_diplomas.html
  base/templates/education_group/tab_general_informations.html
  base/templates/education_group/tab_identification.html
  base/templates/education_group/tab_skills_achievements.html
  base/templates/education_group/tab_utilization.html
  base/templates/layout.html
Labels: education_group

#4763 OSIS-2402 fix translation in repartition management page
  base/templates/learning_unit/add_charge_repartition_inner.html
  base/templates/learning_unit/remove_charge_repartition_confirmation_inner.html
  base/templates/learning_unit/select_attribution.html
  base/views/learning_units/attribution.py
  base/views/learning_units/charge_repartition.py
Labels: learning_unit

#4764 OSIS-2411 fix bug translation on education group
  base/business/education_groups/perms.py
  base/locale/en/LC_MESSAGES/django.po
  base/locale/fr_BE/LC_MESSAGES/django.po
  base/models/enums/education_group_types.py
  base/static/js/sorting_dropdown_type.js
  base/templates/education_group/search.html
Labels: education_group

#4758 OSIS-2418 Modal to attach a reference link
  base/business/education_groups/group_element_year_tree.py
  base/business/group_element_years/management.py
  base/forms/education_group/group_element_year.py
  base/models/education_group_year.py
  base/models/enums/link_type.py
  base/models/group_element_year.py
  base/static/js/education_group/education_group_tree.js
  base/static/js/education_group/tbl_coorganization.js
  base/templates/education_group/blocks/content_actions.html
  base/templates/education_group/blocks/content_default_table.html
  base/templates/education_group/blocks/dropdown/identification_actions_bar.html
  base/templates/education_group/blocks/informations.html
  base/templates/education_group/group_element_year/confirm_detach.html
  base/templates/education_group/group_element_year/confirm_detach_inner.html
  base/templates/education_group/group_element_year/pdf_content_inner.html
  base/templates/education_group/group_element_year_comment.html
  base/templates/education_group/group_element_year_comment_inner.html
  base/templatetags/education_group.py
  base/templatetags/reference_link.py
  base/tests/business/education_groups/test_build_tree.py
  base/tests/factories/authorized_relationship.py
  base/tests/forms/education_group/test_groupElementYearForm.py
  base/tests/models/test_group_element_year.py
  base/tests/templatetags/test_education_group.py
  base/tests/templatetags/test_reference_link.py
  base/tests/views/education_groups/group_element_year/test_read.py
  base/tests/views/education_groups/test_update.py
  base/tests/views/group_element_years/test_detach.py
  base/tests/views/group_element_years/test_edit.py
  base/tests/views/test_learning_unit.py
  base/views/education_groups/detail.py
  base/views/education_groups/group_element_year/__init__.py
  base/views/education_groups/group_element_year/common.py
  base/views/education_groups/group_element_year/create.py
  base/views/education_groups/group_element_year/delete.py
  base/views/education_groups/group_element_year/update.py
  base/views/education_groups/learning_unit/detail.py
  base/views/education_groups/select.py
  base/views/education_groups/urls.py
  base/views/learning_unit.py
  base/views/mixins.py
Labels: education_group

#4767 Osis 2428 Update Po files
  base/locale/en/LC_MESSAGES/django.po
  base/locale/fr_BE/LC_MESSAGES/django.po
  base/migrations/0421_auto_20190107_1118.py
  base/models/education_group_publication_contact.py
  base/models/enums/link_type.py
  base/models/group_element_year.py
  base/views/education_groups/group_element_year/delete.py
Labels: education_group

#4784 OSIS-2411 forgot dissertation translation
  base/locale/en/LC_MESSAGES/django.po
  base/locale/fr_BE/LC_MESSAGES/django.po
Labels: education_group

#4791 Osis 2169 Edition des attributs du lien mineur majeur et option
  base/business/group_element_years/perms.py
  base/forms/education_group/group_element_year.py
  base/locale/en/LC_MESSAGES/django.po
  base/locale/fr_BE/LC_MESSAGES/django.po
  base/models/education_group_year.py
  base/templates/education_group/blocks/dropdown/identification_actions_bar.html
  base/templatetags/education_group.py
  base/tests/business/education_groups/test_perms.py
  base/tests/forms/education_group/test_groupElementYearForm.py
  base/tests/templatetags/test_education_group.py
  base/tests/views/test_education_group.py
  base/views/education_groups/detail.py
Labels: WIP

#4805 add trainings manager education_group model
  base/models/education_group.py
  base/tests/models/test_education_group.py
Labels: dissertation

#4814 OSIS-2461 Validation for reference types
  base/business/group_element_years/management.py
  base/fixtures/authorized_relationship.json
  base/forms/education_group/group_element_year.py
  base/migrations/0423_remove_authorizedrelationship_reference.py
  base/models/authorized_relationship.py
  base/models/education_group_year.py
  base/models/group_element_year.py
  base/tests/factories/authorized_relationship.py
  base/tests/forms/education_group/test_groupElementYearForm.py
  base/tests/views/education_groups/test_update.py
  base/tests/views/group_element_years/test_edit.py
Labels: education_group

#4821 Osis 2461 Max grandchildren for references
  base/business/education_groups/create.py
  base/business/group_element_years/management.py
  base/fixtures/authorized_relationship.json
  base/forms/education_group/group_element_year.py
  base/locale/en/LC_MESSAGES/django.po
  base/locale/fr_BE/LC_MESSAGES/django.po
  base/migrations/0424_auto_20190116_0915.py
  base/models/authorized_relationship.py
  base/models/enums/count_constraint.py
  base/tests/business/education_groups/test_create.py
  base/tests/business/group_element_years/test_management.py
  base/tests/factories/authorized_relationship.py
  base/tests/forms/education_group/test_groupElementYearForm.py
  base/tests/views/education_groups/test_select_education_group_type.py
Labels: education_group

#4833 OSIS-2474 Append mandatory groups during automatic postponement
  base/business/education_groups/automatic_postponement.py
  base/business/education_groups/create.py
  base/business/education_groups/postponement.py
  base/business/utils/postponement.py
  base/tests/business/education_groups/test_automatic_postponement.py
Labels: education_group

#4838 Osis 2490 Check if the content has been already postponed.
  base/business/group_element_years/postponement.py
  base/models/education_group_year.py
  base/tests/business/education_groups/test_postponement.py
  base/views/education_groups/detail.py
Labels: education_group

#4778 OSIS-2290 correction of the acronym check during creation
  base/static/js/learning_unit_creation.js
  base/tests/factories/business/learning_units.py
  base/tests/forms/learning_unit/test_common.py
  base/tests/views/test_learning_unit.py
Labels: learning_unit

#4854 OSIS-2266 debug negative volumes
  base/forms/learning_unit/edition_volume.py
  base/static/js/learning_unit/learning_unit_update.js
  base/templates/learning_unit/blocks/form/simplified_volumes_management_form.html
Labels: learning_unit
