Repository uclouvain/osis, pull requests merged in 2020-04, with the labels that each got.

#7537 Use 3*d for update of prerequisite
  .idea/inspectionProfiles/Osis.xml
  base/ddd/utils/business_validator.py
  base/locale/fr_BE/LC_MESSAGES/django.po
  base/models/prerequisite.py
  base/tests/models/test_prerequisite.py
  base/views/common.py
  program_management/business/learning_units/__init__.py
  program_management/business/learning_units/prerequisite.py
  program_management/ddd/business_types.py
  program_management/ddd/domain/node.py
  program_management/ddd/domain/prerequisite.py
  program_management/ddd/domain/program_tree.py
  program_management/ddd/repositories/_persist_prerequisite.py
  program_management/ddd/repositories/load_tree.py
  program_management/ddd/repositories/persist_tree.py
  program_management/ddd/validators/_authorized_root_type_for_prerequisite.py
  program_management/ddd/validators/_prerequisite_expression_syntax.py
  program_management/ddd/validators/_prerequisites_items.py
  program_management/ddd/validators/validators_by_business_action.py
  program_management/forms/prerequisite.py
  program_management/locale/en/LC_MESSAGES/django.po
  program_management/locale/fr_BE/LC_MESSAGES/django.po
  program_management/tests/business/learning_units/test_prerequisite.py
  program_management/tests/ddd/domain/test_prerequisite.py
  program_management/tests/ddd/domain/test_program_tree.py
  program_management/tests/ddd/repositories/test_load_tree.py
  program_management/tests/ddd/repositories/test_persist_prerequisite.py
  program_management/tests/ddd/repositories/test_persist_tree.py
  program_management/tests/ddd/validators/test_authorized_root_type_for_prerequisite.py
  program_management/tests/ddd/validators/test_prerequisite_expression_syntax.py
  program_management/tests/ddd/validators/test_prerequisite_items.py
  program_management/tests/forms/test_prerequisite.py
  program_management/tests/views/prerequisite/__init__.py
  program_management/tests/views/prerequisite/test_read.py
  program_management/tests/views/prerequisite/test_update.py
  program_management/tests/views/test_prerequisite_update.py
  program_management/urls.py
  program_management/views/generic.py
  program_management/views/prerequisite/__init__.py
  program_management/views/prerequisite/read.py
  program_management/views/prerequisite/update.py
Labels: DDD

#7554 [technical/OSIS-4531 => DEV] Déplacer la logique de modification des prérequis au sein une arborescence dans ProgramTreeView
  .idea/inspectionProfiles/Osis.xml
  base/ddd/utils/business_validator.py
  base/locale/fr_BE/LC_MESSAGES/django.po
  base/models/prerequisite.py
  base/tests/models/test_prerequisite.py
  base/views/common.py
  program_management/business/learning_units/__init__.py
  program_management/business/learning_units/prerequisite.py
  program_management/ddd/business_types.py
  program_management/ddd/domain/node.py
  program_management/ddd/domain/prerequisite.py
  program_management/ddd/domain/program_tree.py
  program_management/ddd/repositories/_persist_prerequisite.py
  program_management/ddd/repositories/load_tree.py
  program_management/ddd/repositories/persist_tree.py
  program_management/ddd/validators/_authorized_root_type_for_prerequisite.py
  program_management/ddd/validators/_prerequisite_expression_syntax.py
  program_management/ddd/validators/_prerequisites_items.py
  program_management/ddd/validators/validators_by_business_action.py
  program_management/forms/prerequisite.py
  program_management/locale/en/LC_MESSAGES/django.po
  program_management/locale/fr_BE/LC_MESSAGES/django.po
  program_management/templatetags/prerequisite.py
  program_management/tests/business/learning_units/test_prerequisite.py
  program_management/tests/ddd/domain/test_prerequisite.py
  program_management/tests/ddd/domain/test_program_tree.py
  program_management/tests/ddd/repositories/test_load_tree.py
  program_management/tests/ddd/repositories/test_persist_prerequisite.py
  program_management/tests/ddd/repositories/test_persist_tree.py
  program_management/tests/ddd/validators/test_authorized_root_type_for_prerequisite.py
  program_management/tests/ddd/validators/test_prerequisite_expression_syntax.py
  program_management/tests/ddd/validators/test_prerequisite_items.py
  program_management/tests/forms/test_prerequisite.py
  program_management/tests/templatetags/test_prerequisite.py
  program_management/tests/views/prerequisite/__init__.py
  program_management/tests/views/prerequisite/test_read.py
  program_management/tests/views/prerequisite/test_update.py
  program_management/tests/views/test_prerequisite_update.py
  program_management/urls.py
  program_management/views/generic.py
  program_management/views/prerequisite/__init__.py
  program_management/views/prerequisite/read.py
  program_management/views/prerequisite/update.py
Labels: DDD

#7570 OSIS-4562 : Do not get direct child of reference link
  education_group/api/serializers/group_element_year.py
  education_group/tests/api/serializers/test_group_element_year.py
  program_management/ddd/domain/node.py
  program_management/tests/ddd/domain/test_node.py
Labels: DDD, webservices

#7579 OSIS-4562 : Exception for minors
  base/models/enums/education_group_types.py
  education_group/api/serializers/group_element_year.py
  education_group/tests/api/serializers/test_group_element_year.py
  program_management/ddd/domain/node.py
  program_management/tests/ddd/domain/test_node.py
Labels: DDD, webservices

#7588 OSIS-4642 : Only get common title if no specific one
  education_group/api/serializers/group_element_year.py
  education_group/tests/api/serializers/test_group_element_year.py
Labels: webservices

#7589 OSIS-4643 : Get achievements only if text
  learning_unit/api/views/learning_achievement.py
  learning_unit/tests/api/views/test_learning_achievement.py
Labels: learning_unit, webservices

#7584 OSIS-4562 : Fix: Within minor list exception
  education_group/api/serializers/group_element_year.py
  education_group/tests/api/serializers/test_group_element_year.py
  program_management/ddd/domain/node.py
  program_management/tests/ddd/domain/test_node.py
Labels: DDD, webservices

#7591 OSIS-4647 add DetachOptionValidator into validator_by_business_Action
  program_management/ddd/validators/validators_by_business_action.py
Labels: DDD

#7590 OSIS-4648 fixed DetachAuthorizedRelationshipValidator with taking care of LearningUnit authorized relations and links with type=REFERENCE
  base/models/authorized_relationship.py
  program_management/ddd/domain/node.py
  program_management/ddd/repositories/load_authorized_relationship.py
  program_management/ddd/validators/_authorized_relationship.py
  program_management/tests/ddd/domain/test_authorized_relationship.py
  program_management/tests/ddd/domain/test_prerequisite.py
  program_management/tests/ddd/validators/test_authorized_relationship.py
Labels: DDD

#7572 [technical/OSIS-4562 => DEV] [WS] FicheOffre - Tree : Ne pas afficher la boite avec _lien de référence_
  base/models/enums/education_group_types.py
  education_group/api/serializers/group_element_year.py
  education_group/tests/api/serializers/test_group_element_year.py
  program_management/ddd/domain/node.py
  program_management/tests/ddd/domain/test_node.py
Labels: DDD, webservices

#7601 OSIS-4560 : Schema
  education_group/schema.yml
Labels: webservices

#7592 [technical/OSIS-4642 => DEV] [WS] Ne pas afficher les tirets dans les titres des UES n_ayant pas de partie secondaire
  education_group/api/serializers/group_element_year.py
  education_group/tests/api/serializers/test_group_element_year.py
Labels: webservices

#7612 [feature/OSIS-4497 => DEV] En tant que système, je veux renvoyer dans un webservice des données relatives à toutes les formations d_une habilitation
  education_group/api/serializers/training.py
  education_group/tests/api/serializers/test_training.py
Labels: webservices

#7618 OSIS-4669 : Return only list of ares_abilities
  education_group/api/serializers/hops.py
  education_group/api/views/hops.py
  education_group/schema.yml
  education_group/tests/api/serializers/test_hops.py
  education_group/tests/api/views/test_hops.py
Labels: webservices

#7611 [feature/OSIS-4496 => DEV] En tant que système, je veux renvoyer dans un webservices la liste de toutes les habilitations
  education_group/api/serializers/hops.py
  education_group/api/url_v1.py
  education_group/api/views/hops.py
  education_group/api/views/training.py
  education_group/schema.yml
  education_group/tests/api/serializers/test_hops.py
  education_group/tests/api/views/test_hops.py
  education_group/tests/api/views/test_training.py
Labels: webservices

#7620 [hotfix/OSIS-4591 => DEV] (DDD) Problème de visualisation dans l_arbre (repliage)
  base/templates/education_group/layout_detail.html
  program_management/serializers/node_view.py
  program_management/serializers/program_tree_view.py
  program_management/static/js/program_management/education_group_tree.js
  program_management/tests/serializers/test_program_tree_view.py
Labels: DDD

#7585 [feature/OSIS-2945 => DEV] En tant que gestionnaire d_OF, je souhaiterais que les informations de prérequis sur le Portail UCL soit récupérés directement d_Osis
  education_group/schema.yml
  learning_unit/api/serializers/utils.py
  program_management/api/__init__.py
  program_management/api/serializers/prerequisite.py
  program_management/api/url_v1.py
  program_management/api/views/__init__.py
  program_management/api/views/prerequisite.py
  program_management/ddd/domain/program_tree.py
  program_management/schema.yml
  program_management/tests/api/__init__.py
  program_management/tests/api/serializers/__init__.py
  program_management/tests/api/serializers/test_prerequisite.py
  program_management/tests/api/views/__init__.py
  program_management/tests/api/views/test_prerequisite.py
  program_management/tests/ddd/domain/test_program_tree.py
  program_management/tests/ddd/validators/test_attach_finality_end_date.py
  webservices/urls.py
Labels: DDD, webservices

#7621 Osis 4671 : ajout ddd pour attributions
  attribution/ddd/domain/__init__.py
  attribution/ddd/domain/attribution.py
  attribution/ddd/domain/teacher.py
  attribution/ddd/repositories/__init__.py
  attribution/ddd/repositories/load_attribution.py
  attribution/tests/ddd/__init__.py
  attribution/tests/ddd/domain/__init__.py
  attribution/tests/ddd/domain/test_teacher.py
  attribution/tests/ddd/factories/__init__.py
  attribution/tests/ddd/factories/attribution.py
  attribution/tests/ddd/factories/teacher.py
  attribution/tests/ddd/repositories/__init__.py
  attribution/tests/ddd/repositories/test_load_attribution.py
Labels: DDD
