Repository uclouvain/osis, pull requests merged in 2020-06, with the labels that each got.

#7830 [DEV] feature/OSIS-4474 : new model and some changes for avoid conflicts
  base/admin.py
  base/locale/en/LC_MESSAGES/django.po
  base/locale/fr_BE/LC_MESSAGES/django.po
  base/migrations/0519_studentspecificprofile.py
  base/models/__init__.py
  base/models/enums/peps_type.py
  base/models/student_specific_profile.py
Labels: PEPS

#7840 OSIS-4788 : Search groups
  program_management/forms/education_groups.py
  program_management/tests/views/test_search.py
Labels: DDD, catalogue-formation

#7619 OSIS-4670 : Using ddd in general information WS
  base/tests/views/test_education_group.py
  education_group/tests/api/views/test_learning_unit.py
  learning_unit/ddd/repository/load_achievement.py
  program_management/ddd/domain/node.py
  program_management/tests/ddd/domain/test_node.py
  webservices/api/serializers/achievement.py
  webservices/api/serializers/admission_condition.py
  webservices/api/serializers/admission_condition_line.py
  webservices/api/serializers/contacts.py
  webservices/api/serializers/general_information.py
  webservices/api/serializers/section.py
  webservices/api/serializers/utils.py
  webservices/api/views/general_information.py
  webservices/business.py
  webservices/tests/api/serializers/test_achievement.py
  webservices/tests/api/serializers/test_admission_condition.py
  webservices/tests/api/serializers/test_admission_condition_line.py
  webservices/tests/api/serializers/test_contacts.py
  webservices/tests/api/serializers/test_general_information.py
  webservices/tests/api/serializers/test_section.py
  webservices/tests/api/views/test_general_information.py
  webservices/tests/test_business.py
Labels: DDD, webservices

#7837 Osis 4730 reactivate content up/down/detach actions
  base/static/css/osis.css
  education_group/templates/education_group_app/blocks/content_actions.html
  education_group/templates/education_group_app/group/content_read.html
  education_group/templates/education_group_app/mini_training/content_read.html
  education_group/templates/education_group_app/training/content_read.html
  education_group/views/group/common_read.py
  education_group/views/group/general_information_read.py
  education_group/views/mini_training/common_read.py
  education_group/views/training/common_read.py
  program_management/ddd/command.py
  program_management/ddd/domain/node.py
  program_management/ddd/service/write/down_link_service.py
  program_management/ddd/service/write/up_link_service.py
  program_management/tests/ddd/domain/test_node.py
  program_management/tests/ddd/factories/commands/order_down_link_command.py
  program_management/tests/ddd/factories/commands/order_up_link_command.py
  program_management/tests/ddd/service/test_order_link_service.py
  program_management/tests/ddd/service/write/test_down_link_service.py
  program_management/tests/ddd/service/write/test_up_link_service.py
  program_management/tests/views/tree/test_move.py
  program_management/urls.py
  program_management/views/tree/move.py
Labels: DDD

#7888 OSIS-4811 : Remove useless filters
  education_group/api/views/mini_training.py
  education_group/api/views/training.py
  education_group/schema.yml
  education_group/tests/api/views/test_mini_training.py
  education_group/tests/api/views/test_training.py
Labels: catalogue-formation, education_group, learning_unit, webservices

#7863 [hotfix/OSIS-4798 => QA] [WS] Ajout de filtres
  base/models/enums/education_group_types.py
  education_group/api/views/mini_training.py
  education_group/api/views/training.py
  education_group/schema.yml
  education_group/tests/api/views/test_mini_training.py
  education_group/tests/api/views/test_training.py
  learning_unit/api/views/learning_unit.py
  learning_unit/schema.yml
  learning_unit/tests/api/views/test_learning_unit.py
Labels: catalogue-formation, education_group, learning_unit, webservices

#7917 OSIS-4798 : Missing remove
  base/models/enums/education_group_types.py
  education_group/api/views/mini_training.py
Labels: refactoring, webservices
