Repository uclouvain/osis, pull requests merged in 2020-07, with the labels that each got.

#7947 Missing migration
  base/migrations/0522_auto_20200703_1051.py
Labels: PEPS

#7954 OSIS-4804 : Update general_information for groups
  base/business/learning_units/pedagogy.py
  base/forms/learning_achievement.py
  base/forms/learning_unit_pedagogy.py
  base/forms/learning_unit_specifications.py
  base/models/education_group_year.py
  base/tests/business/test_learning_unit_deletion.py
  base/tests/forms/test_learning_unit_pedagogy.py
  base/tests/models/test_education_group_year.py
  base/tests/models/test_learning_unit_year.py
  base/tests/views/education_groups/achievement/test_update.py
  base/tests/views/education_groups/test_update.py
  base/tests/views/learning_units/proposals/test_consolidate.py
  base/tests/views/test_education_group.py
  base/tests/views/test_learning_unit.py
  base/tests/views/test_learning_unit_pedagogy.py
  base/views/education_group.py
  base/views/education_groups/perms.py
  cms/enums/entity_name.py
  cms/models/text_label.py
  cms/models/translated_text.py
  cms/models/translated_text_label.py
  cms/tests/factories/text_label.py
  cms/tests/factories/translated_text.py
  cms/tests/models/test_text_label.py
  cms/tests/models/test_translated_text.py
  cms/tests/models/test_translated_text_label.py
  education_group/tests/views/group/test_general_information_read.py
  education_group/urls.py
  education_group/views/group/__init__.py
  education_group/views/group/common_read.py
  education_group/views/group/general_information_read.py
  education_group/views/group/general_information_update.py
  education_group/views/serializers/achievement.py
  education_group/views/serializers/general_information.py
  learning_unit/tests/ddd/repository/test_load_learning_unit_year.py
  program_management/forms/education_groups.py
  webservices/api/serializers/general_information.py
Labels: education_group

#7988 OSIS-4849 : Remove space in acronym and remove useless fields on nodes
  education_group/api/serializers/group_element_year.py
Labels: catalogue-formation, webservices

#7993 Fix group title
  education_group/api/serializers/group_element_year.py
  education_group/tests/api/serializers/test_group_element_year.py
Labels: webservices

#7980 OSIS-4838 : Create endpoints
  education_group/api/serializers/education_group_version.py
  education_group/api/serializers/utils.py
  education_group/api/url_v1.py
  education_group/api/views/education_group_version.py
  education_group/api/views/group_element_year.py
  education_group/api/views/mini_training.py
  education_group/models/group_year.py
  education_group/schema.yml
  education_group/tests/api/serializers/test_mini_training.py
  education_group/tests/api/views/test_group_element_year.py
  education_group/tests/api/views/test_mini_training.py
Labels: education_group, refactoring, webservices

#7981 [technical/OSIS-4840 => DEV] [WS] Ajouter infos versions dans /tree
  education_group/api/serializers/group_element_year.py
  education_group/api/views/group_element_year.py
  education_group/tests/api/serializers/test_group_element_year.py
  education_group/tests/api/views/test_group_element_year.py
Labels: DDD, catalogue-formation, education_group, refactoring, webservices

#7999 [technical/OSIS-4729 => DEV] Adapter les infos générales REDDOT pour les groupements
  base/business/learning_units/pedagogy.py
  base/forms/learning_achievement.py
  base/forms/learning_unit_pedagogy.py
  base/forms/learning_unit_specifications.py
  base/models/education_group_year.py
  base/tests/business/test_learning_unit_deletion.py
  base/tests/forms/test_learning_unit_pedagogy.py
  base/tests/models/test_education_group_year.py
  base/tests/models/test_learning_unit_year.py
  base/tests/views/education_groups/achievement/test_update.py
  base/tests/views/education_groups/test_update.py
  base/tests/views/learning_units/proposals/test_consolidate.py
  base/tests/views/test_education_group.py
  base/tests/views/test_learning_unit.py
  base/tests/views/test_learning_unit_pedagogy.py
  base/views/education_group.py
  base/views/education_groups/perms.py
  cms/enums/entity_name.py
  cms/migrations/0003_auto_20200629_1023.py
  cms/models/text_label.py
  cms/models/translated_text.py
  cms/models/translated_text_label.py
  cms/tests/factories/text_label.py
  cms/tests/factories/translated_text.py
  cms/tests/models/test_text_label.py
  cms/tests/models/test_translated_text.py
  cms/tests/models/test_translated_text_label.py
  education_group/templates/education_group_app/blocks/general_information_section_panel.html
  education_group/templates/education_group_app/group/general_informations_read.html
  education_group/tests/views/group/test_general_information_read.py
  education_group/tests/views/mini_training/test_general_information_read.py
  education_group/tests/views/proxy/test_read.py
  education_group/tests/views/training/test_general_information_read.py
  education_group/urls.py
  education_group/views/group/__init__.py
  education_group/views/group/common_read.py
  education_group/views/group/general_information_read.py
  education_group/views/group/general_information_update.py
  education_group/views/mini_training/general_information_read.py
  education_group/views/proxy/read.py
  education_group/views/serializers/achievement.py
  education_group/views/serializers/general_information.py
  education_group/views/training/general_information_read.py
  learning_unit/tests/ddd/repository/test_load_learning_unit_year.py
  program_management/forms/education_groups.py
  program_management/views/proxy/identification.py
  webservices/api/serializers/achievement.py
  webservices/api/serializers/general_information.py
  webservices/api/views/general_information.py
  webservices/tests/api/serializers/test_general_information.py
  webservices/tests/api/views/test_general_information.py
Labels: DDD, catalogue-formation, education_group
