Repository uclouvain/osis, pull requests merged in 2021-04, with the labels that each got.

#9969 DDD and general Guidelines, contributing, FAQ, references, concepts surrounding DDD
  .github/CONTRIBUTING.md
  .github/faq.md
  .github/references.md
  doc/CQS_command_query_separation.md
  doc/aggregate_size.md
  doc/application_service_vs_domain_service.md
  doc/bounded_context_and_shared_kernel.md
  doc/domain_purity_and_completeness.md
  doc/dto.md
  doc/interface.md
  doc/messages_bus.md
  doc/patterns_factory_builder_singleton.md
  doc/readme.md
  doc/two_steps_validation.md
  doc/update_or_create.md
  workshops_ddd_ue/prerequisites.md
  workshops_ddd_ue/w1/workshop_1.md
  workshops_ddd_ue/w2/workshop_2.md
  workshops_ddd_ue/w3/workshop_3.md
  workshops_ddd_ue/w4/workshop_4.md
  workshops_ddd_ue/w5/workshop_5.md
  workshops_ddd_ue/w6/guidelines.md
  workshops_ddd_ue/w6/theorie.md
  workshops_ddd_ue/w7/workshop_7.md
Labels: DDD, contributing, guidelines

#10028 fixed dead links (404 not found) in documentation and guidelines
  .github/CONTRIBUTING.md
  doc/application_service_vs_domain_service.md
  doc/messages_bus.md
  doc/readme.md
Labels: contributing, guidelines

#10039 OSIS-5766 : Ajout des responsables de notes dans le fichier xls de ue…
  ddd/logic/learning_unit/builder/learning_unit_identity_builder.py
  ddd/logic/score_encoding/__init__.py
  ddd/logic/score_encoding/commands.py
  ddd/logic/score_encoding/dtos.py
  ddd/logic/score_encoding/repository/i_score_responsible.py
  ddd/logic/score_encoding/use_case/__init__.py
  ddd/logic/score_encoding/use_case/read/__init__.py
  ddd/logic/score_encoding/use_case/read/search_scores_responsibles_service.py
  infrastructure/score_encoding/__init__.py
  infrastructure/score_encoding/repository/__init__.py
  infrastructure/score_encoding/repository/score_responsible_repository.py
  program_management/business/excel_ue_in_of.py
  program_management/forms/custom_xls.py
  program_management/locale/en/LC_MESSAGES/django.po
  program_management/locale/fr_BE/LC_MESSAGES/django.po
  program_management/tests/business/test_excel_ue_in_of.py
Labels: DDD
