Repository uclouvain/osis, pull requests merged in 2021-02, with the labels that each got.

#9478 OSIS-5558 usage of EducationGroupYear instead of OfferYear in Online scores encodings feature
  assessments/business/score_encoding_list.py
  assessments/business/score_encoding_progress.py
  assessments/templates/admin/programmanager_confirm_delete_inner.html
  assessments/templates/admin/programmanager_list.html
  assessments/templates/blocks/row_color.html
  assessments/templates/online_double_encoding_form.html
  assessments/templates/online_double_encoding_validation.html
  assessments/templates/online_encoding.html
  assessments/templates/online_encoding_form.html
  assessments/templates/scores_encoding.html
  assessments/templates/scores_encoding_by_learning_unit.html
  assessments/templates/scores_encoding_by_specific_criteria.html
  assessments/tests/business/test_score_encoding_progress.py
  assessments/tests/business/test_score_encoding_sheet.py
  assessments/tests/factories/score_sheet_address.py
  assessments/tests/views/test_pgm_manager_administration.py
  assessments/tests/views/test_score_encoding.py
  assessments/tests/views/test_score_sheet.py
  assessments/tests/views/test_scores_responsible.py
  assessments/tests/views/test_upload_xls_utils.py
  assessments/urls.py
  assessments/views/pgm_manager_administration.py
  assessments/views/score_encoding.py
  assessments/views/upload_xls_utils.py
  base/api/serializers/person.py
  base/auth/roles/program_manager.py
  base/migrations/0563_sessionexam_education_group_year.py
  base/migrations/0564_auto_20210128_1140.py
  base/models/education_group_year.py
  base/models/exam_enrollment.py
  base/models/offer_enrollment.py
  base/models/offer_year.py
  base/models/offer_year_calendar.py
  base/models/person.py
  base/models/session_exam.py
  base/tests/factories/offer_enrollment.py
  base/tests/factories/offer_year_calendar.py
  base/tests/factories/session_examen.py
  base/tests/models/test_education_group_year.py
  base/tests/models/test_exam_enrollment.py
  base/tests/models/test_models_signals.py
  base/tests/models/test_offer_enrollment.py
  base/tests/models/test_offer_year.py
  base/tests/models/test_person.py
  base/tests/models/test_program_manager.py
  base/tests/models/test_session_exam.py
  base/tests/models/test_session_exam_calendar.py
  base/tests/models/test_student.py
  base/tests/templatetags/test_offer_year_calendar_display.py
  base/tests/utils/test_send_mail.py
  base/tests/views/learning_units/external/test_create.py
  base/utils/send_mail.py
  features/factories/users.py
Labels: refactoring, score-encoding

#9502 OSIS-5562 refactored signals to compute scores encodings deadlines (using EducationGroupyear)
  assessments/business/scores_encodings_deadline.py
  assessments/tests/business/test_scores_encodings_deadline.py
  base/models/offer_year_calendar.py
Labels: refactoring, score-encoding

#9460 OSIS-5482 use of catalogue calendar
  base/forms/learning_unit/edition.py
  base/forms/learning_unit/learning_unit_create_2.py
  base/forms/proposal/learning_unit_proposal.py
  base/migrations/0560_auto_20210118_1509.py
  base/migrations/0561_auto_20210127_1512.py
  base/migrations/0563_merge_20210202_0919.py
  base/tests/business/test_learning_unit_deletion.py
  base/tests/business/test_perms.py
  base/tests/factories/academic_calendar.py
  base/tests/forms/test_learning_unit_edition.py
  base/tests/views/learning_units/external/test_update.py
  base/tests/views/test_learning_unit.py
  learning_unit/auth/predicates.py
  learning_unit/auth/roles/central_manager.py
  learning_unit/auth/roles/faculty_manager.py
  osis_role/contrib/helper.py
  osis_role/tests/contrib/test_helper.py
Labels: learning_unit, refactoring

#9531 OSIS-5579 add transition_name field
  program_management/ddd/domain/program_tree_version.py
  program_management/locale/en/LC_MESSAGES/django.po
  program_management/locale/fr_BE/LC_MESSAGES/django.po
  program_management/migrations/0009_educationgroupversion_transition_name.py
  program_management/models/education_group_version.py
Labels: DDD, catalogue-formation

#9545 OSIS-5580 change return for is_transition property
  program_management/ddd/domain/program_tree_version.py
Labels: DDD, catalogue-formation

#9517 OSIS-5552 remove old ref from former calendar proposal + simplify test
  base/business/event_perms.py
  base/migrations/0485_create_events_lu_edition_fac_mgr.py
  base/migrations/0500_create_events_creation_and_end_date_proposition.py
  base/migrations/0564_auto_20210203_1647.py
  base/models/enums/academic_calendar_type.py
  base/tests/business/education_groups/test_event_perms.py
  base/tests/business/learning_units/test_perms.py
  base/tests/business/test_perms.py
  base/tests/factories/academic_calendar.py
  base/tests/forms/test_learning_unit_proposal.py
  base/tests/views/learning_units/proposals/test_creation.py
  base/tests/views/learning_units/test_detail.py
  base/tests/views/test_learning_unit.py
  base/tests/views/test_learning_unit_edition.py
  base/tests/views/test_learning_unit_proposal.py
  features/steps/generic.py
  learning_unit/auth/predicates.py
Labels: learning_unit, refactoring

#9650 OSIS-5571 set field 'education_group_year' not null in OfferEnrollment, SessionExam and OfferYearCalendar
  assessments/business/score_encoding_sheet.py
  assessments/tests/business/test_scores_encodings_deadline.py
  base/migrations/0568_sessionexam_education_group_year.py
  base/migrations/0569_populate_not_null_fields.py
  base/migrations/0570_auto_20210201_1741.py
  base/models/offer_enrollment.py
  base/models/offer_year_calendar.py
  base/models/session_exam.py
  base/tests/views/learning_units/external/test_create.py
Labels: refactoring, score-encoding

#9673 OSIS-5625 create migration file to correct is_mandatory field to True…
  base/migrations/0568_update_is_mandatory_field_when_empty_skeleton.py
Labels: catalogue-formation

#9702 assertEquals to assertEqual
  attribution/tests/api/serializers/test_calendar.py
  attribution/tests/views/test_manage_my_courses.py
  base/tests/models/test_entity_version_address.py
  osis_role/tests/contrib/forms/test_fields.py
Labels: clean

#9674 reorganized sections and add table of content
  .github/CONTRIBUTING.md
Labels: guidelines
