Repository uclouvain/osis, pull requests merged in 2021-01, with the labels that each got.

#9291 [feature/OSIS-4142 => DEV] UE: les champs _Remarque de faculté_ et _autre remarque_ doivent être annualisés: modèle de données+ reprise de données
  base/business/learning_unit_proposal.py
  base/business/learning_units/xls_comparison.py
  base/fixtures/learning_unit.json
  base/forms/learning_unit/external_learning_unit.py
  base/forms/learning_unit/learning_unit_create.py
  base/forms/learning_unit/learning_unit_partim.py
  base/migrations/0551_remarks_annualized.py
  base/models/learning_unit.py
  base/models/learning_unit_year.py
  base/templates/learning_unit/blocks/remarks.html
  base/templates/learning_unit/external/read.html
  base/templates/learning_unit/identification.html
  base/templates/learning_unit/simple/creation.html
  base/tests/business/learning_units/test_xls_comparison.py
  base/tests/business/test_learning_unit_edition.py
  base/tests/factories/business/learning_units.py
  base/tests/factories/learning_unit.py
  base/tests/factories/learning_unit_year.py
  base/tests/forms/test_external_learning_unit.py
  base/tests/forms/test_learning_unit_create_2.py
  base/tests/forms/test_learning_unit_partim.py
  base/tests/forms/test_learning_unit_postponement.py
  base/tests/forms/test_learning_unit_proposal.py
  base/tests/model_forms/learning_unit/test_learning_unit.py
  base/tests/model_forms/learning_unit/test_learning_unit_year.py
  base/tests/views/test_learning_unit_edition.py
  base/tests/views/test_learning_unit_proposal.py
  learning_unit/ddd/repository/load_learning_unit_year.py
  program_management/ddd/repositories/load_node.py
Labels: learning_unit

#9318 OSIS-5492 : Not display trailing zero from decimal
  learning_unit/api/serializers/component.py
Labels: webservices

#9292 OSIS-4604 : Add other_remark_english to learning unit year
  base/business/learning_unit_proposal.py
  base/business/learning_units/xls_comparison.py
  base/business/proposal_xls.py
  base/forms/learning_unit/external_learning_unit.py
  base/forms/learning_unit/learning_unit_create.py
  base/forms/learning_unit/learning_unit_postponement.py
  base/locale/en/LC_MESSAGES/django.po
  base/locale/fr_BE/LC_MESSAGES/django.po
  base/migrations/0554_learningunityear_other_remark_english.py
  base/models/learning_unit_year.py
  base/templates/learning_unit/blocks/remarks.html
  base/templates/learning_unit/identification.html
  base/templates/learning_unit/simple/creation.html
  base/tests/business/learning_units/test_xls_comparison.py
  base/tests/business/test_proposal_xls.py
  base/tests/factories/business/learning_units.py
  base/tests/factories/learning_unit_year.py
  base/tests/forms/test_learning_unit_create_2.py
  base/tests/forms/test_learning_unit_partim.py
  base/tests/forms/test_learning_unit_postponement.py
  base/tests/forms/test_learning_unit_proposal.py
  base/tests/model_forms/learning_unit/test_learning_unit_year.py
  base/tests/views/test_learning_unit.py
  base/tests/views/test_learning_unit_edition.py
  base/tests/views/test_learning_unit_proposal.py
  learning_unit/ddd/domain/learning_unit_year.py
  learning_unit/ddd/repository/load_learning_unit_year.py
  program_management/ddd/domain/node.py
  program_management/ddd/repositories/load_node.py
Labels: learning_unit

#9322 [hotfix/OSIS-5492 => QA] [WS] Ne pas envoyer en trop le nombre décimale apres la virgule dans les détails d_une UE sur des volumes horaires
  learning_unit/api/serializers/component.py
  learning_unit/tests/api/serializers/test_component.py
Labels: learning_unit, webservices

#9321 [hotfix/OSIS-5492 => DEV] [WS] Ne pas envoyer en trop le nombre décimale apres la virgule dans les détails d_une UE sur des volumes horaires
  learning_unit/api/serializers/component.py
  learning_unit/tests/api/serializers/test_component.py
Labels: learning_unit, webservices

#9305 [hotfix/OSIS-5487 => QA] [WS] Le filtre ?version_type ne fonctionne pas combiné avec d_autres filtres
  education_group/api/views/mini_training.py
  education_group/api/views/training.py
  education_group/api/views/utils.py
  education_group/schema.yml
  education_group/tests/api/views/test_training.py
Labels: webservices

#9304 [hotfix/OSIS-5487 => DEV] [WS] Le filtre ?version_type ne fonctionne pas combiné avec d_autres filtres
  education_group/api/views/mini_training.py
  education_group/api/views/training.py
  education_group/api/views/utils.py
  education_group/schema.yml
  education_group/tests/api/views/test_training.py
Labels: webservices

#9320 [feature/OSIS-4604 => DEV] UE: Ajouter une champs Autre remarque en anglais: mise à jour du modèle de données et des écrans
  base/business/learning_unit_proposal.py
  base/business/learning_units/xls_comparison.py
  base/business/proposal_xls.py
  base/forms/learning_unit/external_learning_unit.py
  base/forms/learning_unit/learning_unit_create.py
  base/forms/learning_unit/learning_unit_postponement.py
  base/locale/en/LC_MESSAGES/django.po
  base/locale/fr_BE/LC_MESSAGES/django.po
  base/migrations/0552_remarks_annualized.py
  base/migrations/0557_learningunityear_other_remark_english.py
  base/models/learning_unit_year.py
  base/templates/learning_unit/blocks/remarks.html
  base/templates/learning_unit/identification.html
  base/templates/learning_unit/simple/creation.html
  base/tests/business/learning_units/test_xls_comparison.py
  base/tests/business/test_proposal_xls.py
  base/tests/factories/business/learning_units.py
  base/tests/factories/learning_unit_year.py
  base/tests/forms/test_learning_unit_create_2.py
  base/tests/forms/test_learning_unit_partim.py
  base/tests/forms/test_learning_unit_postponement.py
  base/tests/forms/test_learning_unit_proposal.py
  base/tests/model_forms/learning_unit/test_learning_unit_year.py
  base/tests/views/test_learning_unit.py
  base/tests/views/test_learning_unit_edition.py
  base/tests/views/test_learning_unit_proposal.py
  learning_unit/ddd/domain/learning_unit_year.py
  learning_unit/ddd/repository/load_learning_unit_year.py
  program_management/ddd/domain/node.py
  program_management/ddd/repositories/load_node.py
Labels: learning_unit

#9361 OSIS-5512 : Fix constraint_type
  education_group/api/serializers/group_element_year.py
  program_management/tests/ddd/factories/node.py
Labels: webservices

#9295 OSIS-4145 : add remark_en to learning unit year node within tree end
  base/migrations/0558_remove_learningunit_other_remark.py
  base/models/learning_unit.py
  education_group/api/serializers/group_element_year.py
  education_group/schema.yml
  education_group/tests/api/serializers/test_group_element_year.py
Labels: learning_unit, webservices

#9387 OSIS-4145 : Fix migrations
  base/migrations/0559_remove_learningunit_other_remark.py
Labels: learning_unit, webservices

#9365 [hotfix/OSIS-5512 => QA] [WS] constraint_type est mal renvoyé dans le endpoint /tree
  education_group/api/serializers/group_element_year.py
  program_management/tests/ddd/factories/node.py
Labels: webservices

#9350 [hotfix/OSIS-5493 => QA] [WS] Endpoint attribution renvoit des attributions en trop pour certains partims
  learning_unit/api/views/attribution.py
  learning_unit/tests/api/views/test_attribution.py
Labels: webservices

#9376 [feature/OSIS-4145 => DEV] UE: le champ _autre remarque_ annualisé doit être envoyé dans le Webservice FicheActivité pour la publication
  base/migrations/0559_remove_learningunit_other_remark.py
  base/models/learning_unit.py
  education_group/api/serializers/group_element_year.py
  education_group/schema.yml
  education_group/tests/api/serializers/test_group_element_year.py
  learning_unit/api/serializers/learning_unit.py
  learning_unit/schema.yml
  learning_unit/tests/api/serializers/test_learning_unit.py
Labels: learning_unit, webservices

#9298 OSIS-5484 refactor academic_calendar for proposal
  base/forms/learning_unit/edition.py
  base/forms/learning_unit/learning_unit_create_2.py
  base/forms/proposal/learning_unit_proposal.py
  base/forms/search/search_form.py
  base/locale/en/LC_MESSAGES/django.po
  base/locale/fr_BE/LC_MESSAGES/django.po
  base/migrations/0560_auto_20210118_1509.py
  base/models/enums/academic_calendar_type.py
  base/tests/business/learning_units/test_perms.py
  base/tests/business/test_perms.py
  base/tests/forms/test_learning_unit_proposal.py
  base/tests/views/learning_units/proposals/test_creation.py
  base/tests/views/test_learning_unit_proposal.py
  learning_unit/auth/predicates.py
  learning_unit/auth/roles/central_manager.py
  learning_unit/calendar/learning_unit_extended_proposal_management.py
  learning_unit/calendar/learning_unit_limited_proposal_management.py
  learning_unit/locale/en/LC_MESSAGES/django.po
  learning_unit/locale/fr_BE/LC_MESSAGES/django.po
  learning_unit/migrations/0007_auto_20210115_1314.py
  learning_unit/migrations/0008_merge_20210118_1639.py
  learning_unit/tasks/check_academic_calendar.py
  learning_unit/tests/calendar/test_learning_unit_extended_proposal_management.py
  learning_unit/tests/calendar/test_learning_unit_limited_proposal_management.py
  learning_unit/tests/tasks/test_check_academic_calendar.py
  osis_role/contrib/helper.py
  osis_role/tests/contrib/test_helper.py
Labels: learning_unit, refactoring

#9352 OSIS-5508 replaced usage of 'structure' and 'offeryear' by Entity and EducationGroup inside the assignment of program managers
  assessments/templates/admin/pgm_manager.html
  assessments/templates/admin/programmanager_list.html
  assessments/tests/views/test_pgm_manager_administration.py
  assessments/views/pgm_manager_administration.py
  base/auth/roles/program_manager.py
  base/migrations/0562_auto_20210127_1543.py
  base/models/structure.py
  base/tests/factories/offer_year.py
  base/tests/factories/program_manager.py
  base/tests/factories/structure.py
  base/tests/models/test_program_manager.py
Labels: refactoring, score-encoding

#9461 OSIS-5555 refactored code to use EducationGroup+Entity instead of OfferYear+Structure in ScoreSheetAddress
  assessments/business/score_encoding_export.py
  assessments/business/score_encoding_sheet.py
  assessments/forms/score_sheet_address.py
  assessments/forms/score_sheet_address_entity.py
  assessments/locale/en/LC_MESSAGES/django.po
  assessments/locale/fr_BE/LC_MESSAGES/django.po
  assessments/migrations/0002_scoresheetaddress_education_group.py
  assessments/migrations/0003_remove_scoresheetaddress_offer_year.py
  assessments/models/score_sheet_address.py
  assessments/templates/offer/score_sheet_address_tab.html
  assessments/tests/business/test_score_encoding_export.py
  assessments/tests/business/test_score_encoding_sheet.py
  assessments/tests/factories/score_sheet_address.py
  assessments/tests/views/test_score_sheet.py
  assessments/urls.py
  assessments/views/score_encoding.py
  assessments/views/score_sheet.py
  base/auth/roles/program_manager.py
  base/business/entity_version.py
  base/business/learning_unit_year_with_context.py
  base/forms/learning_unit/search/service_course.py
  base/models/exam_enrollment.py
  base/models/learning_unit_enrollment.py
  base/models/offer_year_calendar.py
  base/models/session_exam_calendar.py
  base/templates/offers.html
  base/tests/business/test_entity_version.py
  base/tests/models/test_offer_enrollment.py
  base/tests/models/test_session_exam_calendar.py
  base/tests/views/test_offer.py
  base/views/offer.py
Labels: refactoring, score-encoding
